<mat-sidenav-container class="c-sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'" [opened]="isSidebarOpen" class="sidenav">
    <div class="sidenav-header">
      <mat-icon>business</mat-icon>
      <h1 class="logo">
        ERP SAAS
      </h1>
    </div>

    <ng-container *ngIf="!activeModule; else moduleMenu">
      <!-- Menú principal -->

      <h1 class="menu-info">MÓDULOS PRINCIPALES</h1>

      <div class="modules-grid">
        <div class="c-card-menu" *ngFor="let module of modules" (click)="selectModule(module.id)"
          [routerLink]="module.route">
          <mat-icon class="icon-menu" mat-card-avatar>{{module.icon}}</mat-icon>
          <div class="info-card-menu">
            <h1>{{module.name}}</h1>
            <h2>{{module?.description || '-'}}</h2>
          </div>
          <mat-icon *ngIf="module.submodules?.length" class="icon-right" mat-card-avatar>arrow_forward_ios</mat-icon>
        </div>
      </div>
    </ng-container>


    <ng-template #moduleMenu>
      <!-- Menú del módulo seleccionado -->
      <mat-nav-list>
        <div class="c-return-menu" (click)="returnToMainMenu()">
          <mat-icon>arrow_back</mat-icon>
          <span>Menú Principal</span>
        </div>

        <div class="c-sub-menu-title">
          <mat-icon class="icon-menu " mat-card-avatar>{{activeModule?.icon || ''}}</mat-icon>
          <div class="info-card-menu">
            <h1>{{activeModule?.name}}</h1>
            <h2>{{activeModule?.description || '-'}}</h2>
          </div>
        </div>

        <hr>

        <a mat-list-item *ngFor="let submodule of activeModule?.submodules || []" [routerLink]="submodule.route">
          <mat-icon matListItemIcon>{{submodule.icon}}</mat-icon>
          <span matListItemTitle>{{submodule.name}}</span>
        </a>
      </mat-nav-list>
    </ng-template>

    <div class="c-sidenav-footer">
      <div class="user-info">
        <mat-icon>account_circle</mat-icon>
        <span>Admin</span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>